<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img [src]="images" alt="logo" style="width:40px;">
  </a>
  <a class="navbar-brand" href="#" style="color: indianred;font-weight: bold;">Shopping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/homepage">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productspage">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userspages">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/postspage">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registerpage">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/loginpage">Login</a>
      </li>
      <li class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Categories
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
          <div *ngFor="let cat of CategoryList">
           <li><a class="dropdown-item" href="#">{{cat.Name}}</a></li>
          </div>
        </ul>
      </li>


      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" > Search</button>
    </form>
  </div>
</nav>
<br>
<br>