 <app-header></app-header> 
 <router-outlet></router-outlet>
  <!-- <app-product (proChanged)="pro=$event" (productChanged)="flag=$event"></app-product>

<button type="button" class="btn btn-info" (click)="ngAfterViewInit()">GetAllProduct</button>
    <div *ngIf="pro">
    <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
          </tr>
      </thead>
      <tbody *ngFor="let product of Product">
          <tr>
          <td>{{product.ID}}</td>
          <td>{{product.Name }}</td>
          <td>{{product.Pricce}}</td>
          <td>{{product.Quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>
<br><br>
Enter a value <input type="text" #val>
<button type="submit" (click)="getAllPro(val.value)" >
    GetProductById
</button>
<div *ngIf="flag"></div>
    <ng-template #thenblock>
    <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
          </tr>
      </thead>
      <tbody >
          <tr>
          <td>{{pros.ID}}</td>
          <td>{{pros.Name }}</td>
          <td>{{pros.Pricce}}</td>
          <td>{{pros.Qunatity}}</td>
        </tr>
      </tbody>
    </table>
    </ng-template> 
     <ng-template #elseblock>
        <h2>
            Enter ID
        </h2>
    </ng-template> 
 <br><br> -->
<app-footer></app-footer>
