<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 g-mb-30">
          <article class="u-shadow-v18 g-bg-white text-center rounded g-px-20 g-py-40 g-mb-5">
            <img class="d-inline-block img-fluid mb-4" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
            <h4 class="h5 g-color-black g-font-weight-600 g-mb-10">Product name</h4>
            <p>Finding your perfect product</p>
            <span class="d-block g-color-primary g-font-size-16">$50.00</span>
          </article>
        </div>
        
        <div class="col-md-6 col-lg-4 g-mb-30">
          <article class="u-shadow-v18 g-bg-white text-center rounded g-px-20 g-py-40 g-mb-5">
            <img class="d-inline-block img-fluid mb-4" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Image Description">
            <h4 class="h5 g-color-black g-font-weight-600 g-mb-10">Product name</h4>
            <p>Finding your perfect product</p>
            <span class="d-block g-color-primary g-font-size-16">$50.00</span>
          </article>
        </div>
        
        <div class="col-md-6 col-lg-4 g-mb-30">
          <article class="u-shadow-v18 g-bg-white text-center rounded g-px-20 g-py-40 g-mb-5">
            <img class="d-inline-block img-fluid mb-4" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Image Description">
            <h4 class="h5 g-color-black g-font-weight-600 g-mb-10">Product name</h4>
            <p>Finding your perfect product</p>
            <span class="d-block g-color-primary g-font-size-16">$50.00</span>
          </article>
        </div>
        <div class="col-md-6 col-lg-4 g-mb-30">
          <article class="u-shadow-v18 g-bg-white text-center rounded g-px-20 g-py-40 g-mb-5">
            <img class="d-inline-block img-fluid mb-4" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
            <h4 class="h5 g-color-black g-font-weight-600 g-mb-10">Product name</h4>
            <p>Finding your perfect product</p>
            <span class="d-block g-color-primary g-font-size-16">$50.00</span>
          </article>
        </div>
        <div class="col-md-6 col-lg-4 g-mb-30">
          <article class="u-shadow-v18 g-bg-white text-center rounded g-px-20 g-py-40 g-mb-5">
            <img class="d-inline-block img-fluid mb-4" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Image Description">
            <h4 class="h5 g-color-black g-font-weight-600 g-mb-10">Product name</h4>
            <p>Finding your perfect product</p>
            <span class="d-block g-color-primary g-font-size-16">$50.00</span>
          </article>
        </div>
        <div class="col-md-6 col-lg-4 g-mb-30">
          <article class="u-shadow-v18 g-bg-white text-center rounded g-px-20 g-py-40 g-mb-5">
            <img class="d-inline-block img-fluid mb-4" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Image Description">
            <h4 class="h5 g-color-black g-font-weight-600 g-mb-10">Product name</h4>
            <p>Finding your perfect product</p>
            <span class="d-block g-color-primary g-font-size-16">$50.00</span>
          </article>
        </div>
    </div>
</div>
<br><br><br>

<button type="button" class="btn btn-info" (click)="toggle()" >
  Buy
</button>
<div *ngIf="IsPurshased">
<table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Store Name</th>
      <th scope="col">Image</th>
      <th scope="col">HideNoDiscount</th>
      <th scope="col">Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><h2>{{StoreName }}</h2></td>
      <td><img [src]="ProductList[0].img" alt="" width="50" height="50"></td>
      <td *ngIf="dis else elseBlock"></td>
      <ng-template #elseBlock>
        <h2>
            Welcome Guest
        </h2>
    </ng-template>
      <td><h3 >{{Discount }}</h3></td>
    </tr>
  </tbody>
</table>
</div>
<div class="d-flex p-2" *ngIf="!IsPurshased">
 {{ "Thanks for purchasing from our Store" + ClientName}} -->
 </div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quanity</th>
      <th scope="col">Img</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Pro of ProductList">
      <th scope="row">1</th>
      <td>{{Pro.ID}}</td>
      <td>{{Pro.Name}}</td>
      <td>{{Pro.Pricce}}</td>
      <td>{{Pro.Qunatity}}</td>
      <td><img src={{Pro.img}} alt="" width="50" height="50"></td>
    </tr>
  </tbody>
</table>
<input type="text" [(ngModel)]="ClientName" >
{{ClientName}}

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quanity</th>
      <th scope="col">Img</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Pro of Product">
      <th scope="row">1</th>
      <td>{{Pro.ID}}</td>
      <td>{{Pro.Name}}</td>
      <td>{{Pro.Pricce}}</td>
      <td>{{Pro.Qunatity}}</td>
      <td><img src={{Pro.img}} alt="" width="50" height="50"></td>
    </tr>
  </tbody>
</table> 
  <button (click)="ProductsWithDiscount()" class="btn btn-success" >Products With Discount</button>
&nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="ProductsWithOutDiscount()" class="btn btn-success" >Products WithOut Discount</button>
<router-outlet></router-outlet>
